.desktop-menu {
  background-color: #273339;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  padding-left: 50px;
  z-index: 999;

  .sub-menu {
    position: absolute;
    display: none;
    background-color: #273339;
    top: 58px;

    div {
      a {
        font-size: 15px;
        line-height: 20px;
        width: 100px;
      }
    }
    div:hover {
      background-color: #aeaeae;
      cursor: pointer;

      a {
        color: #273339;
        background-color: #aeaeae;
      }
    }
  }

  a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }

  a:hover {
    background-color: #F8F8F8;
    color: #273339;
  }
}